.profile-rewards {
    display: flex;
    flex-direction: column;
    padding: 1%
}

.trophy-img {
    width: 15%;
}

.trophy-grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 1vh;
    row-gap: 1vh;
}

.individual-trophy-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 1%;
}

.individual-trophy-container:hover {
    cursor: pointer;
    background-color: #254aaf2d;
    transition: 0.2s ease;
}

@media (max-width: 1350px) {
    .trophy-grid-container {
        grid-template-columns: 33% 33% 33%;
        column-gap: 0.3%;
    }
}

@media (max-width: 900px) {
    .trophy-grid-container {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 450px) {
    .trophy-grid-container {
        grid-template-columns: 100%;
        font-size: 0.9em;
    }
}