.profile {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0vh;
}

.main-profile-grid {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    background-color: rgb(248, 247, 247);
}

.profile-menu-option {
    padding: 5%;
}

.profile-grid {
    /* border: 1px outset lightgray;
    box-shadow: 1px 1px 5px #888888; */
    margin-bottom: 4vh;
    padding: 1%;
}

.new-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80vh 40vh 40vh;
    border: 3px solid green;
}

.profile-main-info {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 3vh;
}

.profile-dropdown-selection {
    border: 1px solid #404d72;
    /* background-color: #404d72; */
    /* border-radius: 8px; */
    color: #404d72;
    margin-bottom: 1vh;
}

.profile-profile-pic {
    width: 60%;
    /* height: 100%; */
    /* max-width: 100%;
    max-height: 400%; */
    margin: 0 auto;
    /* margin-top: 5%; */
    border-radius: 50%;
    /* border: 2px solid #404d72; */
}

.profile-summary {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* border: 1px dashed green; */
}

.profile-summary-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-summary-list-item-value {
    background-color: #404d72;
    color: #fff;
    width: 30%;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
}

.profile-summary-list-item-value:hover {
    cursor: pointer;
    background-color: #66749b;
    transition: 0.2s ease;
}

.profile-summary > h1 {
    margin-bottom: 1%;
}

.profile-summary > h3 {
    padding: 1% 1% 0% 1%;
}

.profile-summary-list {
    list-style: none;
    padding: 0% 1% 1% 1%;
}

.profile-summary-list-item {
    /* margin-bottom: 1%; */
}

/* .profile-summary-list-item > h3 {
    color: #242d75;
} */

.profile-stats-rewards-container {
    border: 1px solid lightgray;
    border-top: none;
}

.profile-nav-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid black; */
}

.profile-tab,
.profile-tab-selected {
    display: flex;
    width: 50%;
    padding: 1%;
    border: 1px solid darkgray;
    margin: 0 auto;
}

.profile-tab > h3,
.profile-tab-selected > h3 {
    margin: 0 auto;
}

.profile-tab:hover,
.profile-tab-selected:hover {
    cursor: pointer;
    background-color: #404d72;
    border: 1px solid white;
    color: #fff;
    transition: 0.2s ease;
    text-decoration-color: #fff;
}

.profile-tab-selected {
    background-color: #404d72;
    color: #fff;
}

.profile-details-container { 
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    /* width: 60%; */
}

.profile-details-sub-container {
    display: flex;
    flex-direction: column;
}

.change-pw-btn {
    background-color: rgb(57, 167, 57);
    color: #fff;
    border: none;
    padding: 0.5%;
}

.change-pw-btn:hover {
    background-color: rgb(40, 179, 40);
    cursor: pointer;
}

@media (max-width: 1500px) {
    .profile-header {
        font-size: 1.8em;
    }
    /* .profile-profile-pic {
        max-height: 80%;
        min-height: 80%;
    } */
}

@media (max-width: 1350px) {
    .profile-summary {
        font-size: 0.8em;
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 1000px) {
    .profile {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .profile-main-info {
        grid-template-columns: 40% 60%;
        height: 30vh;
        margin-bottom: 3vh;
    }
    .profile-summary {
        grid-template-columns: 100%;
        /* border: 1px solid red; */
    }
    /* .profile-details-container {
        width: 50%;
    } */
}

@media (max-width: 620px) {
    /* .profile {
        width: 90%;
    } */
    /* .main-profile-grid {
        margin-left: -6vw;
    } */
    .profile {
        font-size: 0.85em;
    }
    .profile-details-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-height: 850px) {
    .profile-profile-pic {
        max-width: 75%;
        min-width: 75%;
    }
}

@media (max-height: 650px) {
    .profile-main-info {
        grid-template-columns: 30% 70%;
    }
    .profile-profile-pic {
        max-width: 60%;
        min-width: 60%;
    }
}

@media (max-height: 500px) {
    .profile-main-info {
        grid-template-columns: 20% 80%;
    }
}

@media (max-width: 450px) {
    .profile {
        margin: 0 auto;
        width: 100%;
    }
    .profile-main-info {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 15vh;
        grid-template-rows: 20% 80%;
        margin-bottom: 30vh;
    }
    .profile-profile-pic {
        margin: 0 auto;
        /* max-width: 50%;
        min-width: 50%; */
        width: 30%;
        max-width: 30%;
        min-width: 30%;
        border: 2px solid #404d72;
        margin-top: 2vh;
    }
    .profile-summary {
        text-align: center;
        grid-template-columns: 100%;
        font-size: 0.85em;
        margin-bottom: 0vh;
    }
    .profile-dropdown-selection {
        width: 90%;
    }
}

@media (max-width: 300px) {
    .profile-profile-pic {
        width: 50%;
    }
}