.profile {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.main-profile-grid {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    background-color: #fff;
}

.profile-menu-option {
    padding: 5%;
}

.profile-grid {
    border: 1px outset lightgray;
    box-shadow: 1px 1px 5px #888888;
    margin-bottom: 4vh;
    padding: 1%;
}

.new-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80vh 40vh 40vh;
    border: 3px solid green;
}

.profile-main-info {
    display: grid;
    grid-template-columns: 20% 80%;
    /* width: 100%; */
    height: 33%;
}


.profile-profile-pic {
    width: 60%;
    height: 250%;
    /* max-width: 100%;
    max-height: 400%; */
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 50%;
    /* border: 2px solid #404d72; */
}

.profile-summary > h1 {
    margin-bottom: 1%;
}

.profile-summary > h3 {
    padding: 1% 1% 0% 1%;
}

.profile-summary-list {
    list-style: none;
    padding: 0% 1% 1% 1%;
}

.profile-summary-list-item {
    margin-bottom: 1%;
}

.profile-summary-list-item > h3 {
    color: #242d75;
}

.profile-stats-rewards-container {
    border: 1px solid lightgray;
    border-top: none;
}

.profile-nav-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid black; */
}

.profile-tab {
    display: flex;
    width: 50%;
    padding: 1%;
    border: 1px solid darkgray;
    margin: 0 auto;
}

.profile-tab > h3 {
    margin: 0 auto;
}

.profile-tab:hover {
    cursor: pointer;
    background-color: #404d72;
    border: 1px solid white;
    color: #fff;
    transition: 0.2s ease;
    text-decoration-color: #fff;
}

@media (max-width: 1500px) {
    .profile-header {
        font-size: 1.8em;
    }
    /* .profile-profile-pic {
        max-height: 80%;
        min-height: 80%;
    } */
}

@media (max-width: 900px) {
    .profile-main-info {
        grid-template-columns: 40% 60%;
        height: 30vh;
        margin-bottom: 3vh;
    }
}

@media (max-width: 620px) {
    .profile {
        width: 90%;
    }
    .main-profile-grid {
        margin-left: -6vw;
    }
    .profile {
        font-size: 0.85em;
    }
}

@media (max-height: 850px) {
    .profile-profile-pic {
        max-width: 75%;
        min-width: 75%;
    }
}

@media (max-height: 650px) {
    .profile-main-info {
        grid-template-columns: 30% 70%;
    }
    .profile-profile-pic {
        max-width: 60%;
        min-width: 60%;
    }
}

@media (max-height: 500px) {
    .profile-main-info {
        grid-template-columns: 20% 80%;
    }
}

@media (max-width: 450px) {
    .profile-main-info {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 15vh;
        grid-template-rows: 20% 80%;
        margin-bottom: 30vh;
    }
    .profile-profile-pic {
        margin: 0 auto;
        /* max-width: 50%;
        min-width: 50%; */
        width: 10%;
        max-width: 10%;
        min-width: 10%;
        border: 2px solid #404d72;
        margin-top: 2vh;
    }
    .profile-summary {
        text-align: center;
    }
}

@media (max-width: 300px) {
    .profile-profile-pic {
        width: 50%;
    }
}