.change-log {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 3vh;
    /* text-align: center; */
}

.full-list-item {
    border-bottom: 1px solid darkgray;
    margin: 1%;
}