.notifications {
    flex-direction: column;
}

.notifications-list {
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.notification-page-item {
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 2%;
}

.notification-page-item:hover {
    cursor: pointer;
    background-color: #404d72;
    color: #fff;
}