.notifications {
    flex-direction: column;
}

.notifications-list {
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.notification-page-item-seen,
.notification-page-item-new {
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 2%;
}

.notification-page-item-new {
    background-color: rgba(173, 216, 230, 0.411);
}

.notification-page-item-seen:hover,
.notification-page-item-new:hover {
    cursor: pointer;
    background-color: #404d72;
    color: #fff;
}

@media (max-width: 1100px) {
    .notifications-list {
        width: 85%;
    }
}

@media (max-width: 650px) {
    .notifications-list {
        width: 90%;
        margin: 0 auto;
        margin-left: 1vw;
    }
}