.calibration-results-explained {
    margin-bottom: 4vh;
}

.calibration-results-explained-tab-menu {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.calibration-results-explained-tab-option {
    width: 20%;
    border: 1px solid black;
    padding: 0.5% 1% 0.5% 1%;
}

.calibration-results-explained-tab-option:hover {
    cursor: pointer;
    background-color: #404d75;
    color: #fff;
    transition: 0.2s ease;
}

.calibration-results-panel {
    border: 1px solid lightgray;
    padding: 1%;
}

@media (max-width: 1100px) {
    .calibration-results-explained-tab-menu {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
    .calibration-results-explained-tab-option {
        width: 50%;
        text-align: center;
    }
}