.change-log-list {
    padding: 0.5vw;
}

.list-span {
    display: grid;
    grid-template-columns: 11% 80%;
    column-gap: 9%;
    margin-left: 0;
}

@media (max-width: 450px) {
    .list-span {
        grid-template-columns: 100%;
        text-align: center;
    }
}