.home-button-small {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgray;
    /* padding: 2%; */
    padding-top: 0%;
    /* background-color: #fff; */
}

.home-button-small-title {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #404d72;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-bottom: 0.5vh;
}

.home-button-nav-right {
    border: 1px solid white;
    padding: 1px;
    border-radius: 3px;
}

.home-button-small-data {
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.home-button-small-subtitle {
    text-align: center;
}

.home-button-scroll {
    cursor: pointer;
}

@media (max-width: 1100px) {
    .home-button-small {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .home-button-small {
        width: 95%;
    }
}