.home-profile-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 1px 2.5px 0.5px #888888;
    padding: 2%;
    background-color: #fff;
    font-size: 0.9em;
}

.home-profile-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 1vh; */
    margin-bottom: 1vh;
    /* border: 1px solid green; */
}

.home-profile-preview-container-top-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    /* border: 1px solid red; */
}

.home-profile-preview-img {
    width: 15%;
    object-fit: cover;
    border-radius: 50%;
}

.home-profile-preview-level-and-xp {
    display: grid;
    grid-template-columns: 20% 77%;
    column-gap: 3%;
    width: 90%;
}

.home-profile-preview-level {
    display: flex;
    justify-content: center;
    border: 1px solid #404d72;
    border-radius: 10px;
}

.home-profile-preview-xp {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.progress-bar {
    text-align: center;
    padding-top: 1.5%;
}