.change-log-list {
    padding: 1.5%;
    margin-left: 3.5%;
}

.list-span {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 450px) {
    .list-span {
        grid-template-columns: 100%;
        text-align: center;
    }
}