.individual-post-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5vh;
    /* border: 1px solid red; */
}

.post-button {
    background-color: #404d72;
    color: #fff;
    border: none;
    width: 25%;
    height: 4vh;
}

.post-button:hover {
    background-color: #66749b;
    transition: 0.2s ease;
    cursor: pointer;
}

.post-container {
    display: grid; 
    grid-template-columns: 75% 23%;
    column-gap: 2%;
    margin: 0 auto;
}

.post-rate-submission {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
}

.individual-post-rate-submission {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.submit-ratings-btn {
    background-color: #404d72;
    color: #fff;
    border: none;
    padding: 1%;
    width: 50%;
    margin: 0 auto;
}

.submit-ratings-btn:hover {
    cursor: pointer;
    background-color: #66749b;
    transition: 0.2s ease;
}

.post-rate-results {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1%;
}

.comments-container {
    margin-bottom: 2vh;
}

.comment-submit-field,
.sub-comment-submit-field {
    display: grid;
    grid-template-columns: 80% 20%;
    /* height: 10%; */
}

.comment-field,
.sub-comment-submit-field {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 1%;
    margin-bottom: 2%;
}

.sub-comment-submit-field {
    width: 60%;
    margin-left: 0.5vw;
    border: none;
}

.submit-comment-btn {
    height: 90%;
    background-color: #404d72;
    color: #fff;
    border: none;
}

.submit-comment-btn:hover {
    background-color: #66749b;
    cursor: pointer;
    transition: 0.2s ease;
}

.comment-no-replies,
.comment-in-chain {
    padding: 1%;
    border-bottom: 1px solid lightgray;
}

.comment-author {
    color: #404d72;
    text-decoration: none;
}

/* .home-page-news-feed-container {
    box-shadow: 0.5px 1px 2.5px 0.5px #888888;
    padding: 1%;
    background-color: #fff;
} */

.news-feed-title {
    font-size: 28px;
    padding: 0.5%;
    background-color: #404d72;
    color: white;
    border-radius: 5px;
}

.source-field,
.summary-field {
    margin-bottom: 1vh;
    padding: 1%;
    width: 100%;
}

.loading-div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
}

.individual-news-feed-post {
    background-color: rgba(239, 239, 243, 0.233);
    margin-top: 1%;
    border: 1px solid darkgray;
    padding: 3%;
    padding-bottom: 4%;
}

.post-author {
    display: grid;
    grid-template-columns: 40% 60%;
}

.post-author-left {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    padding-bottom: 1vh;
    border-bottom: 1px solid lightgray;
    height: 100%;
}

.author-profile-pic {
    width: 11%;
    border-radius: 50%;
    /* border: 1px solid #404d72; */
}

.post-author-left > h3 {
    padding-top: 2%;
    padding-left: 1%;
}

.post-author-details {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
}

.post-votes {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    margin-left: 65%;
}

.post-control-btn:hover {
    cursor: pointer;
}

.post-author-description {
    margin-top: 1%;
}

.post-markets {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-top: none;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
}

.post-news-image {
    width: 80%;
    height: 100%;
}

.post-news-image-placeholder {
    width: 80%;
}

.post-news-preview-image {
    width: 80%;
    height: 50%;
}

.post-news-title {
    width: 100%;
}

@media (max-width: 1100px) {
    .home-page-news-feed-container {
        font-size: 0.9em;
    }
    .source-field {
        width: 100%;
    }
    .summary-field {
        width: 100%;
    }
    /* .author-profile-pic {
        height: 6vh;
    } */
    .post-container {
        display: flex;
        flex-direction: column;
    }
    .post-rating-container {
        width: 80%;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .individual-post-container {
        width: 90%;
    }
    .post-rate-submission {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .post-button {
        width: 50%;
        height: 90%;
        padding: 1%;
        font-size: 0.8em;
    }
    .individual-post-container {
        width: 80%;
    }
    .individual-news-feed-post {
        padding-bottom: 3vh;
    }
    .post-author-left > img {
        width: 10%;
        /* height: 105%; */
    }
    .comment-submit-field {
        height: 4vh;
        margin-bottom: 1vh;
    }
    .submit-comment-btn {
        font-size: 0.6em;
        /* height: 4vh; */
    }
}

@media (max-width: 700px) {
    .post-author-left > img {
        width: 20%;
    }
}

@media (max-width: 480px) {
    .post-author-left > img {
        width: 35%;
        max-width: 35%;
        min-width: 35%;
    }
}