.forecast-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-results-title {
    color: #404d72;
    padding: 1%;
}

.forecast-results-table {
    width: 100%;
    text-align: center;
    margin: 1%;
    font-size: 0.95em;
}

.table-title-row {
    background-color: #636baa;
    color: white;
}

.forecast-results-matching-username-row {
    background-color: #404d72;
    color: #fff;
}

.forecast-results-even-row {
    background-color: rgba(141, 160, 223, 0.26);
}

.forecast-results-odd-row {
    background-color: rgba(141, 160, 223, 0.158);
}