.predictions-container {
    padding: 1%;
}

.date-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    padding: 1%;
    column-gap: 5vw;
}

.sub-date-container {
    display: flex;
    flex-direction: column;
}

.prediction-ul {
    list-style: none;
    text-align: left;
}

.prediction-li {
    display: flex;
    flex-direction: column;
    margin: 1%;
}