.forecast-chat {
    margin: 0 auto;
    border-left: 1px solid lightgray;
    width: 100%;
    padding: 1%;
}

.chat {
    text-align: left;
    padding: 1%;
    list-style: none;
}

.chat-item {
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.chat-item {
    border-bottom: 1px solid lightgray;
}

.reply-chat-item {
    margin-left: 1vw;
    margin-top: 1vh;
}