.forecast-submission-and-selection-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.forecast-top-bar {
    display: flex;
    width: 100%;
    height: 100%;
}

.header-label {
    color: #404d72;
}

.forecast-selection-div {
    height: fit-content;
    max-height: 60vh;
    overflow-y: scroll; 
    border-bottom: 3px solid #404d72;
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 85%,#c3ceda 100%);
}

.race-selector {
    background-color: #404d72;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
    font-size: 120%;
    align-items: center;
    width: 100%;
    height: fit-content;
    max-height: 100vh;
    overflow-y: scroll; 
}

.race-option {
    font-size: 120%;
}

.forecast-selection-question-header {
    background-color: #404d72;
    color: #fff;
    text-align: center;
    padding: 3%;
}

.forecast-submission-and-chart-div {
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.forecast-submission-div {
    margin: 0 auto;
    /* margin-bottom: 2vh; */
    display: flex;
    flex-direction: column;
    /* padding: 1%; */
    width: 99%;
    /* text-align: center; */
}

.new-forecast-binary-container {
    /* border: 2px dashed blue; */
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1vh;
}

.new-forecast-input-binaries {
    border: 1px solid #404d72;
    padding: 3%;
    width: 100%;
    text-align: center;
}

.forecast-certainty-input {
    text-align: center;
    padding: 1%;
}

.forecast-selection-select {
    max-width: 100%;
}

.selected-forecast {
    margin-bottom: 1vh;
    background-color: #404d72;
    color: #fff;
    padding: 1%;
    text-align: center;
    /* font-size: 100%; */
}

.selected-forecast-close-date {
    margin-bottom: 1vh;
    margin: 0 auto;
}

.forecast-submission-and-error-container {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    background-color: rgba(211, 211, 211, 0.233);
    border-radius: 8px;
    margin-bottom: 1vh;
    /* height: 35%; */
}

.forecast-submission-input {
    display: flex;
    flex-direction: column;
    row-gap: 8%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1%;
    text-align: center;
    width: 100%;
}

.new-forecast-input-header {
    background-color: #404d72;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1%;
    margin-bottom: 1vh;
    text-align: center;
}

.forecast-submission-input-certainty-section,
.forecast-submission-input-explanation-section {
    display: flex;
    flex-direction: column;
}

.forecast-submission-input-explanation-section {
    margin: 0 auto;
    align-items: center;
}

.forecast-submission-explanation-and-btn-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 1%;
}

.multiple-input-fields {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.input-header-container {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.forecast-submission-explanation-input {
    text-align: center;
    width: 100%;
    padding: 3%;
    margin: 0 auto;
}

.placeholder-container-error {
    display: grid;
    grid-template-columns: 25% 50% 20%;
}

.placeholder-container-no-error {
    display: flex;
    flex-direction: column;
}

.last-certainty-div,
.last-comments-div {
    display: flex;
    flex-direction: column;
}

.previous-attempt-titles {
    color: #404d72;
}

.captain-a-problem-div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
}

.forecast-message {
    margin-bottom: 1vh;
    width: 100%;
    text-align: center;
    padding: 1%;
}

.forecast-submission-potential-scores {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.scores {
    display: flex;
    flex-direction: row;
}

.correct-score,
.incorrect-score {
    margin: 0 auto;
    text-align: center;
}

.correct { 
    color: green;
}

.incorrect {
    color: red;
}

.brier-info {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-top: 1vh;
}

.submit-forecast-btn {
    background-color: rgb(79, 182, 79);
    color: rgb(247, 247, 247);
    border: none;
    height: 5vh;
    width: 30%;
    margin: 0 auto;
    margin-top: 1vh;
}

.submit-forecast-btn:hover {
    background-color: rgb(54, 202, 54);
    transition: 0.2s ease;
    cursor: pointer;
}

.no-forecast-selected-submit-forecast-btn {
    background-color: rgb(209, 96, 96);
    color: rgb(247, 247, 247);
    border: none;
    height: 5vh;
    width: 100%;
    margin: 0 auto;
    cursor: not-allowed;
}

.forecast-review-div {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1%;
    font-size: 0.9em;
}

.forecast-review-div-left > h3 {
    margin-bottom: 0.3vh;
}

.forecast-chart-stats-switcher {
    display: flex;
    flex-direction: column;
}

.forecast-chart-stats-switcher-tab-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    text-align: center;
}

.forecast-chart-stats-switcher-tab-menu-three {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    text-align: center;
}

.forecast-chart-stats-switcher-tab,
.forecast-chart-stats-switcher-tab-selected {
    padding: 2%;
    border: 1px solid lightgray;
    cursor: pointer;
}

.forecast-chart-stats-switcher-tab {
    background-color: #404d72;
    color: #fff;
}


.forecast-chart-stats-switcher-tab:hover,
.forecast-chart-stats-switcher-tab-selected:hover {
    cursor: pointer;
    background-color: #404d72;
    color: #fff;
    transition: 0.2s ease;
}

.switcher-problem-stats {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2vh;
    font-size: 0.9em;
}

.new-forecast-layout-container {
    display: grid;
    grid-template-columns: 23% 77%;
}

.new-forecast-layout-container-mobile {
    display: flex;
    flex-direction: column;
}

.forecast-selection {
    border-right: 1px solid lightgray;
    padding: 1%;
}

.forecast-selection-item {
    padding: 3%;
}

.forecast-selection-item:hover {
    cursor: pointer;
    background-color: #404d72;
    color: #fff;
    transition: 0.2s ease;
    /* border-radius: 1%; */
}

.colorGreen {
    color: "green";
}

.colorRed {
    color: "red";
}

.certainty-show {
    padding: 1%;
    color: #404d72;
}

@media (max-width: 1200px) {
    .forecast-selection-item {
        font-size: 90%;
    }
}

@media (max-width: 900px) {
    .selected-forecast-close-date {
        margin-top: 1vh;
    }
    .forecast-submission-and-chart-div {
        grid-template-columns: 100%;
    }
    .forecast-submission-potential-scores {
        margin-top: 3vh;
    }
}

@media (max-width: 700px) {
    .forecast-top-bar {
        width: 100%;
    }
    .forecast-submission-div {
        width: 100%;
    }
    .selected-forecast {
        font-size: 1.2em;
    }
    .multiple-input-fields {
        font-size: 80%;
    }
}

@media (max-width: 600px) {
    .multiple-input-fields {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .header-label {
        font-size: 0.9em;
    }
    .selected-forecast {
        font-size: 1.1em;
    }
    .forecast-review-div {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
    .previous-attempt-titles {
        font-size: 0.95em;
    }
    .last-certainty-div > h4,
    .last-comments-div > h4 {
        font-size: 0.95em;
    }
    .placeholder-container-error,
    .placeholder-container-no-error {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
    .forecast-submission-input {
        display: flex;
        flex-direction: column;
    }
    .submit-forecast-btn {
        width: 50%;
        margin-top: 2vh;
    }
}

@media (max-width: 400px) {
    .header-label {
        font-size: 0.9em;
    }
    .new-forecast-binary-container {
        display: flex;
        flex-direction: column;
    }
}