.predictions-container {
    padding: 1%;
}

.show-btn,
.hide-btn {
    color: #fff;
    padding: 1%;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.show-btn {
    background-color: #404d72;
}

.hide-btn {
    background-color: darkred;
    margin-bottom: 1vh;
}

.date-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    padding: 1%;
    column-gap: 5vw;
}

.sub-date-container {
    display: flex;
    flex-direction: column;
}

.prediction-ul {
    list-style: none;
    text-align: left;
}

.prediction-li {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.hypothetical-results-container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1vh;
    column-gap: 1vh;
}

.hypothetical-results-subcontainer {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}