.forecast-problem-line-chart {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1vh;
    text-align: center;
    color: #404d72;
}


@media (max-width: 1200px) {
    .chart-container {
        height: 40vh;
    }
}
