.leaderboard-grid {
    display: grid;
    width: 30%;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}

.your-markets-leaderboards,
.all-markets-leaderboards {
    text-decoration: none;
    width: 100%;
}

@media (max-width: 1500px) {
    .leaderboard-grid {
        font-size: 0.90em;
    }
}

@media (max-width: 700px) {
    .leaderboard-grid {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
}

@media (max-width: 400px) {
    .your-markets-leaderboards,
    .all-markets-leaderboards {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}