.leaderboard {
    width: 100%;
    height: 80vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgba(241, 241, 241, 0.103);
}

.leaderboard-loading-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-table {
    border-collapse: collapse;
    width: 100%;
}

.leaderboard-title-row > th {
    background-color: #636baa;
    color: #fff;
    font-size: 1.2em;
}

.leaderboard-table > tr {
    height: 40px;
    border-bottom: 1px solid lightgray;
}

/* .leaderboard-title-row > th, */
/* .leaderboard-row > td, */
/* .leaderboard-row-matching-username > td { */
    /* border-left: 1px solid lightgrey; */
/* } */

.username-column:hover,
.ffpoints-column:hover,
.avg-brier-column:hover {
    background-color: orange;
}

.leaderboard-title-row > th:first-child,
.leaderboard-row > td:first-child,
.leaderboard-row-matching-username > td:first-child {
    border-left: none;
}

.leaderboard-row,
.leaderboard-row-matching-username {
    border-bottom: 1px solid rgba(211, 211, 211, 0.549);
}

.leaderboard-row:hover,
.leaderboard-row-matching-username:hover {
    background-color: #7a95de76;
}

.leaderboard-row-matching-username {
    background-color: #404d72;
    color: #fff;
}

.position-column {
    width: 5%;
    border: 1px solid #fff;
}

.leaderboard-rank-data,
.leaderboard-username-data,
.leaderboard-ffPoints-data,
.leaderboard-avgBrierScore-data,
.leaderboard-last5Forecasts-data {
    text-align: center;
    font-size: 1.2em;
}

.leaderboard-username-data {
    text-align: left;
}

.username-column {
    width: 40%;
    border: 1px solid #fff;
}

.leaderboard-username-data {
    padding-left: 1vw;
    display: flex;
    flex-direction: row;
}

.leaderboards-profile-pic {
    width: 5%;
    height: 3vh;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1%;
}

.ffpoints-column,
.avg-brier-column {
    width: 15%;
    border: 1px solid #fff;
}

.last-five-briers-column {
    width: 30%;
    border: 1px solid #fff;
}

.last-five-data-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.last-five-data-single-result {
    border: 1px solid black;
    width: 20%;
    max-width: 20%;
    margin: 0.3%;
}

@media (max-width: 1500px) {
    .leaderboard-title-row {
        font-size: 0.8em;
    }
    .username-column {
        width: 25%;
    }
    .leaderboards-profile-pic {
        width: 10%;
    }
}

@media (max-width: 800px) {
    .leaderboard {
        font-size: 0.8em;
    }
}

@media (max-width: 700px) {
    .leaderboard-title-row {
        height: 10px;
    }
}

@media (max-width: 600px) {
    .leaderboards-profile-pic {
        width: 10%;
        min-width: 10%;
        max-width: 10%;
    }
}

@media (max-width: 500px) {
    .leaderboard {
        font-size: 0.5em;
    }
}