.top-three-users-highlight {
    width: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    font-size: 0.8em;
    box-shadow: 0.5px 1px 5px 0.5px #888888;
    padding-top: 1vh;
    margin-bottom: 1vh;
}

.top-three-individual-user {
    padding: 1%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.rank-one-profile-pic,
.rank-two-profile-pic,
.rank-three-profile-pic {
    height: 50%;
    max-height: 50%;
    border-radius: 20%;
}

@media (max-width: 1100px) {
    .top-three-users-highlight {
        width: 100%;
    }
    .top-three-individual-user > img {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .top-three-users-highlight {
        max-width: 100%;
        font-size: 0.7em;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    .top-three-individual-user {
        width: 30%;
        min-width: 30%;
        max-width: 30%;
    }
}
