.historic-forecast-div {
    font-size: large;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1%;
}

.prediction-div {
    display: flex;
    flex-direction: column;
}

.outcome-div {
    padding: 1%;
}

.forecast-problem {
    color: #404d75;
}

.certainty-div {
    display: flex;
    flex-direction: row;
}

.certainty-input-div {
    padding: 1%;
    margin-left: 3%;
}

.score-preview-div {
    padding: 1%;
    margin-left: 5%;
    text-align: center;
}

.certainty-input {
    padding: 5%;
}

.correctStyle {
    color: green;
}

.incorrectStyle {
    color: red;
}

.forecast-div-highlight {
    border: 1px solid black;
    padding: 1%;
}

@media (max-width: 1100px) {
     .historic-forecast-div {
         font-size: 1.05em;
     }
     .outcome-div-problem-name {
         margin-bottom: 1vh;
         text-align: center;
    }
    .certainty-div {
        flex-direction: column;
    }
    .certainty-input-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}