.forecast {
    display: flex;
    flex-direction: column;
}

.forecast-header {
    margin-left: 6vw;
    margin-bottom: 2vh;
    margin-right: 6vw;
}

.forecast > p {
    margin-bottom: 2vh;
}

.new-forecast-container-top-half,
.new-forecast-container-bottom-half {
    display: flex;
    flex-direction: row;
    width: 90%;
    /* border: 1px solid green; */
    margin: 0 auto;
}

.bottom-half-right-results-and-metrics {
    display: flex;
    flex-direction: column;
    /* row-gap: 2vh; */
}

.new-forecast-container-bottom-half {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    /* padding-left: 5%; */
    margin: 0 auto;
    margin-top: 2vh;
}

.bottom-half-stats-and-leaderboard {
    display: flex;
    flex-direction: column;
    /* border: 2px solid purple; */
    row-gap: 2vh;
    text-align: center;
}

@media (max-width: 1500px) {
    .new-forecast-container-top-half,
    .new-forecast-container-bottom-half {
        width: 100%;
        font-size: 0.9em;
    }
}

@media (max-width: 1100px) {
    .forecast {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    .new-forecast-container-bottom-half {
        grid-template-columns: 100%;
        /* border: 1px solid red; */
        padding: 0%;
    }
}

@media (max-width: 500px) {
    .forecast-header > p {
        font-size: 0.85em;
    }
}