.search {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.search-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
    height: 3vh;
}

.search-field,
.search-btn {
    font-size: 1.05em;
    padding: 0.5%;
}

.search-btn {
    background-color: #404d72;
    color: #fff;
    cursor: pointer;
    border: none;
}

.search-btn:hover {
    background-color: #4f64ac;
    transition: 0.2s ease;
}

.profile-team-invite-container {
    display: flex;
    flex-direction: row;
}

.profile-team-invite-btn {
    color: green;
    background-color: #6986e451;
    padding: 2%;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.profile-team-invite-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #335be09c;
    transition: 0.2s ease;
}

.main-profile-grid-search {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.profile-menu-option {
    padding: 5%;
}

.profile-grid {
    margin-bottom: 4vh;
    /* padding: 1%; */
}

.profile-profile-pic {
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 50%;
}

.profile-summary > h1 {
    margin-bottom: 1%;
}

.profile-summary > h3 {
    padding: 1% 1% 0% 1%;
}

.profile-summary-list {
    list-style: none;
    padding: 0% 1% 1% 1%;
}

.profile-summary-list-item {
    margin-bottom: 1%;
}

.selected {
    background-color: #404d72;
    color: #fff;
}

@media (max-width: 1000px) {
    .search {
        width: 90%;
    }
}