.profile {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.search-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
    height: 3vh;
}

.search-field,
.search-btn {
    font-size: 1.05em;
    padding: 0.5%;
}

.search-btn {
    background-color: #404d72;
    color: #fff;
    cursor: pointer;
    border: none;
}

.search-btn:hover {
    background-color: #4f64ac;
    transition: 0.2s ease;
}

.main-profile-grid {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    background-color: #fff;
}

.profile-menu-option {
    padding: 5%;
}

.profile-grid {
    border: 1px outset lightgray;
    box-shadow: 1px 1px 5px #888888;
    margin-bottom: 4vh;
    padding: 1%;
}

.profile-main-info {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    
}

.profile-profile-pic {
    /* width: 85%;
    max-width: 85%;
    min-width: 85%;
    min-height: 400%;
    max-height: 400%; */
    /* height: 100%; */
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 50%;
    /* border: 1px solid lightgray; */
}

.profile-summary > h1 {
    margin-bottom: 1%;
}

.profile-summary > h3 {
    padding: 1% 1% 0% 1%;
}

.profile-summary-list {
    list-style: none;
    padding: 0% 1% 1% 1%;
}

.profile-summary-list-item {
    margin-bottom: 1%;
}

.profile-summary-list-item > h3 {
    color: #242d75;
}

.selected {
    background-color: #404d72;
    color: #fff;
}

@media (max-width: 1500px) {
    .profile-header {
        font-size: 1.8em;
    }
    .profile-profile-pic {
        max-height: 300%;
        min-height: 300%;
    }
}