:root {
    --main-theme: #404d72;
    --main-theme-stats: #aab6d818;
    --main-theme-hover: rgba(255, 255, 255, 0.255);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: var(--main-theme);
}

.navbar-grid {
    width: 95%;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5%;
}

.nav-logo {
    width: 75%;
}

.nav-menu-items-container {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav-text,
.nav-text-selected,
.nav-text-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: #fff;
    /* font-size: 17px; */
    max-width: 100%;
}

.nav-text-stats {
    background-color: var(--main-theme-stats);
    /* font-size: 17px; */
    padding: 1%;
}

.nav-text a,
.nav-text-selected a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover,
.nav-text-selected a:hover {
    background-color: var(--main-theme-hover);
    text-decoration-color: #fff;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-text-selected a {
    color: #fff;
    /* text-decoration: overline; */
}

.nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-title {
    margin-left: 10px;
}

.user-logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 5vh;
    margin-top: 1vh;
}

.image-and-noti-container {
    display: grid;
    grid-template-columns: 80% 1%;
    cursor: pointer;
}

.image-and-noti-container:hover {
    background-color: rgba(255, 255, 255, 0.252);
    transition: 0.2s ease;
    border-radius: 5px;
}

.notification-counter {
    color: #fff;
    background-color: rgb(214, 34, 34);
    border-radius: 3.5px;
    margin: 0 auto;
    margin-left: 2px;
}

.notification-dropdown {
    border: 2px solid #404d72;
    border-top: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7.4vh;
    z-index: 1;
    background-color: #fff;
    width: 25%;
    background: #fff;
    margin-left: 15vw;
    font-size: 90%;
}

.notification-item-seen,
.notification-item-new {
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 1%;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-size: 90%;
}

.notification-item-new {
    background-color: rgba(173, 216, 230, 0.411);
}

.notification-item-seen:hover,
.notification-item-new:hover {
    cursor: pointer;
    background-color: #404d72;
    color: #fff;
}

.notification-item-info {
    display: flex;
    flex-direction: column;
}

.user-logout-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-text-profile {
    text-decoration: none;
    color: #404d72;
    font-size: 20px;
    padding: 1% 0% 0% 0%;
}

.nav-text-profile:hover {
    background-color: #404d72;
    color: #fff;
    transition: 0.2s ease;
}

.profile-and-logout-container {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 1vh;
}

@media (max-width: 1350px) {
    .notification-dropdown {
        font-size: 0.9em;
        width: 30%;
        margin-left: -11.5vw;
        top: 12vh;
    }
}

@media (max-width: 800px) {
    .navbar {
        margin-bottom: 1vh;
    }
}

@media (max-width: 1100px) {
    .notification-dropdown {
        font-size: 0.8em;
        width: 40%;
        margin-left: -22vw;
    }
}

.mobile-navbar {
    background-color: #404d72;
    height: 80px;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: 80% 15%;
}

.mobile-image-and-noti-container {
    display: grid;
    grid-template-columns: 80% 10%;
    align-items: center;
}

.mobile-navbar-profile-pic {
    width: 80%;
    height: 80%;
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    max-height: 80%;
}

.mobile-menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.mobile-nav-menu {
    background-color: #404d72;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border-radius: 0 0 5% 0%;
}

.mobile-nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 1;
}

.mobile-nav-text,
.mobile-nav-text-selected {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 10%;
}

.mobile-nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.mobile-nav-text a:hover {
    background-color: #1a83ff;
}

.mobile-nav-menu-items {
    width: 100%;
}

.mobile-navbar-toggle {
    background-color: #404d72;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* span {
    margin-left: 16px;
} */

.mobile-nav-text,
.mobile-nav-text-selected,
.mobile-nav-text-stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    color: #fff;
    font-size: 18px;
    max-width: 100%;
}

.mobile-nav-text-stats {
    background-color: var(--main-theme-stats);
    font-size: 18px;
    padding: 1%;
}

.mobile-nav-text a,
.mobile-nav-text-selected a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 17px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.mobile-nav-text a:hover,
.mobile-nav-text-selected a:hover {
    background-color: var(--main-theme-hover);
    text-decoration-color: #fff;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.mobile-nav-text-selected a {
    color: #fff;
    /* text-decoration: overline; */
}

.mobile-nav-logout-btn {
    background-color: #fff;
    color: #404d72;
    border: 1px solid #404d72;
    padding: 1%;
    margin-left: 9vw;
    width: 50%;
}

@media (max-width: 1000px) {
    .nav-logo {
        display: inline;
    }
}

@media (max-width: 650px) {
    .notification-dropdown {
        font-size: 1em;
        position: fixed;
        top: 9.2vh;
        width: 100%;
        margin-left: 0vw;
        font-size: 0.75em;
    }
}